absl-py
astunparse
certifi
charset-normalizer
contourpy
cycler
flatbuffers
fonttools
gast
google-pasta
grpcio
h5py
idna
kagglehub
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
numpy
opt_einsum
optree
packaging
pillow
protobuf
torch
transformers
opencv-python
Pygments
pyparsing
python-dateutil
PyYAML
requests
rich
setuptools
six
tensorboard
tensorboard-data-server
tensorflow
termcolor
tqdm
typing_extensions
urllib3
Werkzeug
wheel
wrapt
